html, body {
  margin: 0;
  padding: 0;
  // height: 100vh;
  overscroll-behavior: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0,0,0,0.5);
}

main {
  display: flex;
  justify-content: center;
}

canvas {
  position: fixed;
}

.hide {
  display: none !important;
}

#ui-wrapper {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  color: white;

  &.active {
    display: flex;
  }

  small, p {
    padding: 0;
    margin: .2rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    label {
      margin-bottom: .2rem;
    }

    input {
      margin-bottom: .5rem;
    }

    button {
      margin-top: 1rem;
    }
  }
}

#julia-wrap {
  display: flex;
  flex-direction: column;
}

.mobile-ui {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

#hamburger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  &:before { content:'\2630'; }

  &.active {
    &:before { content:'✕'; }
  }
}

@media screen and (max-width: 1200px) {
  #hamburger {
    display: block;
  }

  #ui-wrapper {
    position: absolute;
    display: none;
    z-index: 1;
    width: 100%;
  }

  .desktop-ui {
    display: none;
  }

  .mobile-ui {
    display: block;
  }
}